<h1>Obtuviste VOTEs en {{challengeName}}!</h1>
<p>¡Hola <strong>{{to}}!</strong></p>
<p>Transferencia de
  <strong>{{amount}} VOTEs</strong>
  en
  {{challengeName}}
  de
  <strong>{{from}}</strong>
  recibido con éxito. ¡Úsalos sabiamente!</p>
{{{supportMsg}}}