<h1>Gracias por organizar tu hackathon con nosotros</h1>
<p>Hola <strong>{{username}}</strong>,</p>
<p>Tu hackathon se ha cerrado oficialmente, y queríamos tomarnos un momento para agradecerte por
  elegir
  <strong>TAIKAI</strong>
  como tu plataforma.</p>
<p>En
  <strong>TAIKAI</strong>, estamos comprometidos a mejorar continuamente nuestros servicios y
  eventos, y tu feedback es vital para ayudarnos a lograr este objetivo.</p>
<p>Nos encantaría conocer tu experiencia al organizar este hackathon. Tu feedback nos ayudará a
  mejorar la plataforma para ti y todos los futuros organizadores.</p>
<p>Para compartir tu feedback, haz clic en el siguiente enlace para acceder a la encuesta:</p>
<a href='{{surveyLink}}' class='cta-button'>Dar Feedback</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href='{{surveyLink}}'>{{surveyLink}}</a></p>
{{{supportMsg}}}