<h1>Reclama tu NFT</h1>
<p>¡Hola {{username}}!</p>
<p>El hackathon
  {{challengeName}}
  ha llegado a su fin, y esperamos que lo hayas disfrutado. Para celebrarlo, te estamos regalando un
  NFT exclusivo generado automáticamente basado en tu recorrido en el hackathon.</p>
<p><strong>¿Cómo reclamar tu NFT?</strong></p>
<p>Ve a la página del hackathon y en la barra lateral izquierda encontrarás un botón debajo del
  título del hackathon con una guía paso a paso para reclamarlo.</p>
<a href='{{base_url}}{{token}}' class='cta-button'>RECLAMAR NFT</a>
<p><strong>¿Qué sigue? Lleva tu proyecto al siguiente nivel ⛩️</strong></p>
<p>Si estás realmente comprometido con la construcción, ¿por qué detenerse aquí?
  <strong>The Garden</strong>
  es donde crecen los verdaderos constructores.</p>
<p>Puedes continuar desarrollando tu proyecto, acceder a una red de mentores - y lo mejor de todo -
  lanzar el token de tu proyecto al mundo.</p>
<p>Es hora de convertir tu idea en un proyecto de un millón de dólares. Construyamos.</p>
<a href='{{garden_url}}' class='cta-button'>UNIRSE A THE GARDEN</a>
{{{supportMsg}}}