<h1>Has sido invitado a ser mentor en el proyecto {{projectName}}</h1>
<p>¡Hola <strong>{{to}}!</strong></p>
<p>¿Estás listo para mentorizar el proyecto {{projectName}} con tus habilidades ninja?</p>
<p>{{projectName}} es uno de los proyectos en el <a href='{{gardenUrl}}'>TAIKAI Garden</a>.</p>
<p>¡Los mentores tienen un papel muy importante en el TAIKAI Garden! Tendrás la posibilidad de
  marcar la diferencia ayudando a los miembros del equipo de este proyecto.</p>
<p>Ve a tu panel de control para responder a la invitación.</p>
<a href='{{dashboardUrl}}' class='cta-button'>IR AL PANEL DE CONTROL</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href='{{dashboardUrl}}'>{{dashboardUrl}}</a></p>
{{{supportMsg}}}