<h1>Has sido invitado a ser mentor en el proyecto {{projectName}}</h1>
<p>¡Hola <strong>{{to}}!</strong></p>
<p>¿Estás listo para mentorizar el proyecto {{projectName}} con tus habilidades ninja?</p>
<p>{{projectName}} es uno de los proyectos en el <a href='{{gardenUrl}}'>TAIKAI Garden</a>.</p>
<p>¡Los mentores tienen un papel muy importante en el TAIKAI Garden! Tendrás la posibilidad de
  marcar la diferencia ayudando a los miembros del equipo de este proyecto.</p>
<p>¡Al hacer clic en el enlace de abajo estás comenzando un viaje increíble!</p>
<a href='{{inviteUrl}}' class='cta-button'>ACEPTAR INVITACIÓN</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}