<h1>Invitación para ser mentor en el proyecto {{projectName}}</h1>
<p>¡Hola! {{to}}</p>
<p>¿Estás listo para ser mentor de proyecto con tus habilidades ninja en
  {{projectName}}?</p>
<p>{{projectName}} es uno de los proyectos en el <a href='{{gardenUrl}}'>Jardín de LayerX</a>.</p>
<p>¡Los mentores juegan un papel muy importante en el Jardín! Tendrás la oportunidad de marcar la
  diferencia ayudando a los miembros de este proyecto.</p>
<p>Al hacer clic en el enlace de abajo, te embarcarás en un viaje increíble... ¡Buena suerte!</p>
<a href='{{inviteUrl}}' class='cta-button'>CONFIRMAR</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}