<h1>¡Tu participación fue rechazada!</h1>
<p>Lamentamos informarte que tu participación en
  <strong>{{challengeName}}</strong>
  fue rechazada.</p>
<p>Por favor, contacta con los organizadores del desafío para más información.</p>
<a href='{{challengeUrl}}' class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href='{{challengeUrl}}'>{{challengeUrl}}</a>
{{{supportMsg}}}
