<h1>Obrigado por hospedar seu hackathon conosco</h1>
<p>Olá <strong>{{username}}</strong>,</p>
<p>Seu hackathon foi oficialmente encerrado, e gostaríamos de agradecer por escolher o
  <strong>TAIKAI</strong>
  como sua plataforma.</p>
<p>No
  <strong>TAIKAI</strong>, estamos comprometidos em melhorar continuamente nossos serviços e
  eventos, e seu feedback é vital para nos ajudar a alcançar esse objetivo.</p>
<p>Adoraríamos ouvir sobre sua experiência ao hospedar este hackathon. Seu feedback nos ajudará a
  aprimorar a plataforma para você e todos os futuros organizadores.</p>
<p>Para compartilhar seu feedback, clique no link a seguir para acessar a pesquisa:</p>
<a href='{{surveyLink}}' class='cta-button'>Dar Feedback</a>
<p>Se tiver algum problema, copie esta URL e cole no seu navegador:</p>
<p><a href='{{surveyLink}}'>{{surveyLink}}</a></p>
{{{supportMsg}}}