<h1>Requerer o NFT</h1>
<p>Olá {{username}}!</p>
<p>O
  {{challengeName}}
  chegou ao fim, e esperamos que você tenha se divertido. Para celebrar, estamos oferecendo um NFT
  exclusivo gerado automaticamente baseado na sua jornada no hackathon.</p>
<p><strong>Como requerer o NFT?</strong></p>
<p>Na página do hackathon, na barra lateral esquerda, você encontrará um botão abaixo do título do
  hackathon com um guia simples de passo a passo para reivindicá-lo.</p>
<a href='{{base_url}}{{token}}' class='cta-button'>REQUERER NFT</a>
<p><strong>O que vem a seguir? Leve seu projeto para o próximo nível ⛩️</strong></p>
<p>Se você está realmente comprometido em construir, por que parar aqui?
  <strong>The Garden</strong>
  é onde os verdadeiros construtores crescem.</p>
<p>Você pode continuar desenvolvendo seu projeto, acessar uma rede de mentores - e o melhor de tudo
  - lançar o token do seu projeto para o mundo.</p>
<p>É hora de transformar sua ideia em um projeto de milhões de dólares. Vamos construir.</p>
<a href='{{garden_url}}' class='cta-button'>ENTRAR NO THE GARDEN</a>
{{{supportMsg}}}