<h1>Você foi convidado para ser mentor no projeto {{projectName}}</h1>
<p>Olá <strong>{{to}}!</strong></p>
<p>Você está pronto para ser mentor no projeto {{projectName}} com as suas habilidades ninja?</p>
<p>{{projectName}} é um dos projetos no <a href='{{gardenUrl}}'>TAIKAI Garden</a>.</p>
<p>Os mentores têm um papel muito importante no TAIKAI Garden! Você terá a oportunidade de fazer a
  diferença ajudando os membros da equipe deste projeto.</p>
<p>Ao clicar no link abaixo você está ingressando uma incrível jornada!</p>
<a href='{{inviteUrl}}' class='cta-button'>ACEITAR CONVITE</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}