<h1>Convite para mentor no projeto {{projectName}}</h1>
<p>Olá! {{to}}</p>
<p>Você está pronto para ser mentor de projetos com as suas habilidades ninja no
  {{projectName}}?</p>
<p>{{projectName}} é um dos projetos no <a href='{{gardenUrl}}'>Garden da LayerX</a>.</p>
<p>Os mentores têm um papel muito importante no Garden! Você terá a oportunidade de fazer a
  diferença, ajudando os membros deste projeto.</p>
<p>Ao clicar no link abaixo você está ingressando uma incrível jornada... Boa sorte!</p>
<a href='{{inviteUrl}}' class='cta-button'>CONFIRMAR</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}