<h1>Sua participação foi rejeitada!</h1>
<p>Lamentamos informar que sua participação no
  <strong>{{challengeName}}</strong>
  foi rejeitada.</p>
<p>Por favor, entre em contato com os organizadores do desafio para mais informações.</p>
<a href='{{challengeUrl}}' class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href='{{challengeUrl}}'>{{challengeUrl}}</a>
{{{supportMsg}}}
