<h1>O usuário excedeu o número máximo de tentativas 2FA</h1>
<p>Depois de muitas tentativas fracassadas de verificar o código 2FA, o usuário
  <strong>{{username}}</strong>
  foi temporariamente (<strong>{{tmpLockoutMin}} min</strong>) bloqueado para evitar um ataque de
  força bruta.</p>
<a href='{{userOverviewLink}}' class='cta-button'>Detalhes do usuário</a>
<br />
<p>Se você tiver algum problema, copie este URL e cole-o no seu navegador:</p>
<p><a href='{{userOverviewLink}}'>{{userOverviewLink}}</a></p>