<h1>Oh non ! Votre soutien de projet a échoué !</h1>
<p>Bonjour, <strong>{{username}} !</strong></p>
<p>Le soutien de <strong>{{amount}} VKAIs</strong> dans {{challengeName}} pour <strong>{{projectName}}</strong> a échoué.</p>
<p>Veuillez réessayer !</p>
{{{supportMsg}}}