<h1>{{challengeName}} est en cours de révision</h1>
<p>Bonjour <strong>{{submitter}}</strong> !</p>
<p><strong>{{challengeName}}</strong> par <strong>{{organizationName}}</strong> est en cours de révision et sera publié dès que le contenu sera approprié pour notre communauté.</p>
<p>Allez sur votre <a href="{{link}}">page de défi</a> pour voir à quoi elle ressemble. N'oubliez pas que la page ne sera publique qu'une fois que le contenu du défi aura été accepté par les modérateurs de TAIKAI.</p>
{{{supportMsg}}}