<h1>{{challengeName}} soumis pour examen</h1>
<p>Nom : {{challengeName}}</p>
<p>Description : {{description}}</p>
<p>Expéditeur : {{submitter}}</p>
<p>E-mail : {{email}}</p>
<p>Veuillez évaluer la soumission avec soin.</p>