<h1>Récupérez votre NFT</h1>
<p>Bonjour {{username}} !</p>
<p>Le hackathon {{challengeName}} s'est achevé, et nous espérons que vous avez apprécié et que vous attendez avec impatience le prochain.</p>
<p>Nous sommes ravis de vous offrir un NFT auto-génératif exclusif basé sur vos données de hackathon.</p>
<p><strong>Comment récupérer votre NFT ?</strong></p>
<p>Allez sur la page du hackathon, et dans la barre latérale gauche, vous trouverez un bouton sous le titre du hackathon avec un guide étape par étape pour le réclamer.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>RÉCUPÉRER LE NFT</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a>
{{{supportMsg}}}