<h1>Vous avez été invité à participer à {{challengeName}}</h1>
<p>Bonjour !</p>
<p>Êtes-vous prêt à encadrer les projets de {{challengeName}} avec vos compétences de ninja ?</p>
<p>{{challengeName}} est un défi organisé par {{organizationName}}.</p>
<p>Les mentors ont un rôle très important sur TAIKAI ! Vous aurez la possibilité de faire la différence en aidant nos participants à créer d'incroyables solutions pour ce défi.</p>
<p>Votre participation à l'événement sera entièrement gérée via notre plateforme. Vous pourrez également consulter les règles du défi à tout moment. Il est important que vous les acceptiez et que vous les respectiez.</p>
<p>Une fois votre inscription terminée, nous vous recommandons de mettre à jour votre biographie et vos compétences sur TAIKAI. Cela aidera les participants à vous trouver et à correspondre aux compétences qu'ils recherchent.</p>
<p>En cliquant sur le lien ci-dessous, vous vous engagez dans un voyage incroyable... bonne chance !</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMER MAINTENANT</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}