<h1>Vous avez été invité à rejoindre une équipe</h1>
<p>Bonjour <strong>{{to}} !</strong></p>
<p>Nous avons un rôle important qui vous attend ! Vous avez reçu une invitation à rejoindre l'équipe <strong>{{projectName}}</strong> sur le défi <strong>{{challengeName}}</strong>.</p>
<p>En tant que membre du projet, vous pouvez mettre à jour la description du projet, gérer les membres de l'équipe et télécharger des pièces jointes pour votre projet.</p>
<p>Allez sur votre tableau de bord pour répondre à l'invitation.</p>
<a href="{{dashboardUrl}}" class='cta-button'>ALLER AU TABLEAU DE BORD</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<p><a href="{{dashboardUrl}}">{{dashboardUrl}}</a></p>
{{{supportMsg}}}