<h1>Demande de {{organizationName}} reçue</h1>
<p>Organisation : {{organizationName}}</p>
<p>Description : {{description}}</p>
<p>Nom du contact : {{contactName}}</p>
<p>E-mail : {{email}}</p>
<p>Veuillez évaluer attentivement la soumission.</p>