<h1>Vous avez reçu une annonce de {{organizationName}}</h1>
<p>{{message}}</p>
<table style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
  <a href="{{page}}"><img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px;" width="100" alt="{{organizationName}}" data-proportionally-constrained="true" data-responsive="false" src="{{organizationLogoUrl}}" height=""></a>
</table>
<div style="font-family: inherit; text-align: center"><strong>{{organizationName}}</strong></div>
<div style="font-family: inherit; text-align: center"><em>{{shortDescription}}</em></div>
<a href="{{page}}" class='cta-button'>PAGE DE L'ORGANISATION</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href="{{page}}">{{page}}</a>
{{{supportMsg}}}