<h1>Félicitations ! Vous avez reçu une récompense !</h1>
<p>Félicitations, vous avez reçu une récompense de <strong>{{amount}} TKAIs</strong> pour {{reason}} sur {{challengeName}}.</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{shortDescription}}</p>
<p>Pour plus de détails, veuillez cliquer sur le bouton ci-dessous.</p>
<a href="{{challengeUrl}}" class='cta-button'>PAGE DU CHALLENGE</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}