<h1>Bienvenue sur {{challengeName}}</h1>
<p>Bonjour {{username}} !</p>
<p>Êtes-vous prêt à créer une solution incroyable pour {{challengeName}} sur TAIKAI ? Les innovateurs ont un rôle très important sur TAIKAI ! Vous aurez la possibilité de faire la différence en créant une solution pour ce défi et en étant sélectionné pour remporter un prix.</p>
<p>C'est pourquoi il est important que vous acceptiez et que vous respectiez les règles du défi, que vous pouvez consulter à tout moment <a href="{{rulesLink}}">ici</a>.</p>
<p>Confirmez votre inscription en tant que participant et acceptez les règles du challenge en cliquant sur le lien ci-dessous.</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMER L'INSCRIPTION</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}