<h1>Bienvenue sur {{challengeName}}</h1>
<p>Bonjour {{fullName}} !</p>
<p>Aimeriez-vous choisir les projets les plus innovants sur {{challengeName}} sur TAIKAI ? Être un Backer signifie que vous pouvez influencer le résultat final d'un Challenge et sélectionner quelle équipe remporte le prix. Nous vous donnons des VKAIs, il vous suffit d'investir !</p>
<p>C'est pourquoi il est important que vous acceptiez et respectiez les règles du challenge, que vous pouvez consulter à tout moment <a href="{{rulesLink}}">ici</a>.</p>
<p>En cliquant sur le lien ci-dessous, vous confirmez votre inscription en tant que Backer et acceptez les règles du Challenge.</p>
<a href="{{inviteUrl}}" class='cta-button'>INSCRIVEZ-VOUS EN TANT QUE JURY</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}