<h1>Confirmez votre nouvel e-mail</h1>
<p>Bonjour {{username}},</p>
<p>Veuillez confirmer que c'est la nouvelle adresse e-mail de votre compte TAIKAI.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>CONFIRMER L'ADRESSE E-MAIL</a>
<br />
{{{expirationMsg}}
<p>
<a href="{{base_url}}{{token}}">{{{base_url}}}{{{token}}</a>
</p>
{{{supportMsg}}}