<h1>Thank you for hosting your hackathon with us</h1>
<p>Hello <strong>{{username}}</strong>,</p>
<p>Your hackathon has officially closed, and we wanted to take a moment to thank you for choosing
  <strong>TAIKAI</strong>
  as your platform.</p>
<p>At
  <strong>TAIKAI</strong>, we are committed to continuously improving our services and events, and
  your feedback is vital in helping us achieve this goal.</p>
<p>We'd love to hear about your experience hosting this hackathon. Your feedback will help us
  enhance the platform for you and all future organizers.</p>
<p>To share your feedback, please click on the following link to access the survey:</p>
<a href='{{surveyLink}}' class='cta-button'>Give Feedback</a>
<p>If you have any trouble, copy this URL and paste it into your browser:</p>
<p><a href='{{surveyLink}}'>{{surveyLink}}</a></p>
{{{supportMsg}}}