<h1>Claim your NFT</h1>
<p>Hello {{username}}!</p>
<p>The
  {{challengeName}}
  hackathon has come to an end, and we hope you had a blast. To celebrate, we're giving you an
  exclusive auto-generative NFT based on your hackathon data.</p>
<p><strong>How to claim your NFT?</strong></p>
<p>Go to the hackathon page, and on the left sidebar, you will find a button below the hackathon
  title with a simple step-by-step guide to claim it.</p>
<a href='{{base_url}}{{token}}' class='cta-button'>CLAIM NFT</a>
<p><strong>What's next? Take your project to the next level ⛩️</strong></p>
<p>If you're serious about building, why stop here?
  <strong>The Garden</strong>
  is where real builders grow. You can continue to develop your project, access a network of mentors
  - and the best of all - launch your project's token to the world.</p>
<p>It's time to turn your idea into a million-dollar project. Let's build.</p>
<a href='{{garden_url}}' class='cta-button'>JOIN THE GARDEN</a>
{{{supportMsg}}}