<h1>Invitation to be a mentor in the project {{projectName}}</h1>
<p>Hello! {{to}}</p>
<p>Are you ready to be a project mentor with your ninja skills in
  {{projectName}}?</p>
<p>{{projectName}} is one of the projects in the <a href='{{gardenUrl}}'>Garden of LayerX</a>.</p>
<p>Mentors play a very important role in the Garden! You will have the opportunity to make a
  difference by helping the members of this project.</p>
<p>By clicking the link below, you are embarking on an incredible journey... Good luck!</p>
<a href='{{inviteUrl}}' class='cta-button'>CONFIRM</a>
<p>If you have any issues, copy this URL and paste it into your browser:</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}