<h1>You've been invited to be a mentor on the project {{projectName}}</h1>
<p>Hello <strong>{{to}}!</strong></p>
<p>Are you ready to mentor the project {{projectName}} with your ninja skills?</p>
<p>{{projectName}} is one of the projects in the <a href='{{gardenUrl}}'>TAIKAI Garden</a>.</p>
<p>Mentors have a very important role in the TAIKAI Garden! You will have the possibility to make
  difference by helping the team members of this project.</p>
<p>By clicking on the link below you are entering an amazing journey!</p>
<a href='{{inviteUrl}}' class='cta-button'>ACCEPT INVITE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}