<h1>Votre compte est maintenant validé</h1>
<p>Bonjour {{name}} !</p>
<p>Votre compte TAIKAI est maintenant validé, et vous êtes libre d'utiliser toutes les
  fonctionnalités disponibles sur notre plateforme. La validation du compte est une étape importante
  de l'intégration, car elle vous permet de récupérer des bons LX, de participer aux primes
  TAIKAI, de voter lors des votes du public, ou d'obtenir des récompenses en recommandant des amis.</p>
<p><strong>Invitez vos amis</strong>
  à rejoindre TAIKAI, et pour chaque personne qui s'inscrit, vous et votre ami recevrez
  <strong>{{amountReferred}} LX.</strong>
  À chaque niveau atteint, vous gagnerez des LX supplémentaires.</p>
<a href='{{referralSettingsUrl}}' class='cta-button'>OBTENEZ LE LIEN D'INVITATION</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href='{{referralSettingsUrl}}'>{{referralSettingsUrl}}</a>
{{{supportMsg}}}