<h1>Vous venez de soutenir un projet !</h1>
<p>Bonjour <strong>{{name}} !</strong></p>
<p>Le soutien de
  <strong>{{amount}} VKAIs</strong>
  dans
  {{challengeName}}
  pour
  <strong>{{projectName}}</strong>
  a été confirmé. Continuez votre excellent travail de vote !</p>
{{{supportMsg}}}