<h1>{{challengeName}} - Votre candidature avance. </h1>
<p>Bonjour, {{name}} ! 👋</p>
<p>Félicitations. 🙌</p>
<p>Je tiens à vous informer que vous passez de {{currentStep}} à {{nextStep}} dans notre processus de recrutement.</p>
<p><strong>Avez-vous besoin d'aide ?</strong></p>
{{{supportMsg}}}