<h1>Oh non ! Votre transfert de VOTEs pour {{challengeName}} a échoué !</h1>
<p>Bonjour <strong>{{username}} !</strong></p>
<p>Le transfert de
  <strong>{{amount}} VOTEs</strong>
  dans
  {{challengeName}}
  vers
  <strong>{{to}}</strong>
  a échoué.</p>
<p>Veuillez réessayer !</p>
{{{supportMsg}}}