<h1>{{challengeName}} - {{title}}</h1>
<p>{{{update}}}</p>
<p>Pour plus de détails, veuillez cliquer sur le bouton ci-dessous.</p>
<a href='{{updatesUrl}}' class='cta-button'>EN SAVOIR PLUS</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href='{{updatesUrl}}'>{{updatesUrl}}</a>
{{{supportMsg}}}