<h1>Vous avez reçu des VOTEs sur {{challengeName}} !</h1>
<p>Bonjour <strong>{{to}} !</strong></p>
<p>Transfert de
  <strong>{{amount}} VOTEs</strong>
  en provenance de
  <strong>{{from}}</strong>
  pour
  {{challengeName}}
  reçu avec succès. Veuillez les utiliser judicieusement !</p>
{{{supportMsg}}}