<h1>{{challengeName}} a été publié</h1>
<p>Félicitations, <strong>{{submitter}}</strong> !</p>
<p><strong>{{challengeName}}</strong> par <strong>{{organizationName}}</strong> a été publié.</p>
<p>À partir de maintenant, vous pouvez commencer à promouvoir le défi et à en parler. Rendez-vous sur la page de votre défi pour vérifier son apparence.</p>
<p>Promouvez la page de votre défi auprès de votre public, de vos partenaires et de vos amis.</p>
<a href="{{link}}" class='cta-button'>PAGE DU DÉFI</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href="{{link}}">{{link}}</a>
{{{supportMsg}}}