<h1>Vous avez envoyé des VOTEs sur {{challengeName}} !</h1>
<p>Bonjour <strong>{{from}} !</strong></p>
<p>Transfert de
  <strong>{{amount}} VOTEs</strong>
  pour
  {{challengeName}}
  à
  <strong>{{to}}</strong>
  confirmé avec succès. Félicitations !</p>
{{{supportMsg}}}