<h1>Fichiers de présentation</h1>
<p>Bonjour !</p>
<p>Un fichier de package de présentation pour le défi
  {{challengeName}}
  a été généré. Le fichier zip contient toutes les présentations en .ppts, .pptx, .pdf et autres
  fichiers de pages du projet.</p>
<a href='{{reportFile}}' class='cta-button'>TOUT TÉLÉCHARGER</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href='{{reportFile}}'>{{reportFile}}</a>
{{{supportMsg}}}