<h1>Merci d'avoir organisé votre hackathon avec nous</h1>
<p>Bonjour <strong>{{username}}</strong>,</p>
<p>Votre hackathon est officiellement terminé, et nous tenions à vous remercier d'avoir choisi
  <strong>TAIKAI</strong>
  comme plateforme.</p>
<p>Chez
  <strong>TAIKAI</strong>, nous nous engageons à améliorer continuellement nos services et nos
  événements, et vos commentaires sont essentiels pour nous aider à atteindre cet objectif.</p>
<p>Nous aimerions connaître votre expérience en tant qu'organisateur de ce hackathon. Vos
  commentaires nous aideront à améliorer la plateforme pour vous et tous les futurs organisateurs.</p>
<p>Pour partager vos commentaires, veuillez cliquer sur le lien suivant pour accéder au sondage :</p>
<a href='{{surveyLink}}' class='cta-button'>Donner un Feedback</a>
<p>Si vous rencontrez un problème, copiez cette URL et collez-la dans votre navigateur :</p>
<p><a href='{{surveyLink}}'>{{surveyLink}}</a></p>
{{{supportMsg}}}