<h1>Nous avons une annonce importante pour vous !</h1>
<p><strong>{{challengeName}}</strong></p>
<p>{{message}}</p>
<p>Pour plus de détails, veuillez cliquer sur le bouton ci-dessous.</p>
<a href='{{challengeUrl}}' class='cta-button'>PAGE DU CHALLENGE</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href='{{challengeUrl}}'>{{challengeUrl}}</a>
{{{supportMsg}}}