<h1>Récupérez votre NFT</h1>
<p>Bonjour {{username}}!</p>
<p>Le hackathon
  {{challengeName}}
  st terminé, et nous espérons que vous vous êtes bien amusé(e). Pour célébrer, nous vous offrons un
  NFT exclusif généré automatiquement basé sur votre parcours dans le hackathon.</p>
<p><strong>Comment récupérer votre NFT?</strong></p>
<p>Allez sur la page du hackathon, et dans la barre latérale gauche, vous trouverez un bouton sous
  le titre du hackathon avec un guide étape par étape pour le réclamer.</p>
<a href='{{base_url}}{{token}}' class='cta-button'>RÉCUPÉRER LE NFT</a>
<p><strong>Et ensuite? Faites passer votre projet au niveau supérieur ⛩️</strong></p>
<p>Si vous êtes sérieux à propos de la construction, pourquoi s'arrêter ici?
  <strong>The Garden</strong>
  est l'endroit où les vrais bâtisseurs grandissent. Vous pouvez continuer à développer votre
  projet, accéder à un réseau de mentors - et le meilleur de tout - lancer le token de votre projet
  dans le monde.</p>
<p>Il est temps de transformer votre idée en un projet d'un million de dollars. Construisons
  ensemble.</p>
<a href='{{garden_url}}' class='cta-button'>REJOINDRE THE GARDEN</a>
{{{supportMsg}}}