<h1>Vous avez reçu des TKAIs !</h1>
<p>Bonjour <strong>{{username}} !</strong></p>
<p>Vous avez reçu un dépôt de
  <strong>{{amount}} TKAIs</strong>
  de l'adresse
  <strong>{{from}}</strong>.</p>
<p>Veuillez les utiliser judicieusement !</p>
<p>Vérifiez la transaction sur l'explorateur de chaînes de bloc :</p>
<a href='{{blockchainLink}}' class='cta-button'>Voir sur l'explorateur de chaînes de bloc</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<p><a href='{{blockchainLink}}'>{{blockchainLink}}</a></p>
{{{supportMsg}}}