<h1>Félicitations ! Votre PoP (Preuve de Participation)
  {{challengeName}}
  a été créé avec succès!</h1>
<p>Votre PoP (Preuve de Participation) personnalisé pour
  <strong>{{challengeName}}</strong>
  est une preuve de participation entièrement personnalisée que vous recevez dans votre portefeuille
  pour nous avoir aidés à améliorer notre plateforme grâce à vos commentaires.</p>
<p>Vous venez de le recevoir à l'adresse
  <strong>{{walletAddress}}</strong>
  sur le réseau Polygon POS.</p>
<a href='{{nftExplorerLink}}' class='cta-button'>Voir sur l'explorateur NFT</a>
<br />
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<p><a href='{{nftExplorerLink}}'>{{nftExplorerLink}}</a></p>
<p>Vous pouvez également consulter et partager votre galerie PoP dans votre
  <a href='{{userProfile}}'>profil TAIKAI</a>.</p>
{{{supportMsg}}}