<h1>Vous avez reçu une recommandation d'ami</h1>
<p>Bienvenue sur <strong>TAIKAI !</strong></p>
<p>Vous avez reçu une recommandation d'ami de la part de
  <strong>{{from}}</strong>
  pour vous inscrire sur TAIKAI.</p>
<p>Avec le lien de recommandation ci-dessous, après vous être inscrit sur TAIKAI et avoir validé
  votre compte, votre ami gagnera
  <strong>{{amountReferrer}} TKAIs</strong>
  et vous gagnerez
  <strong>{{amountReferred}} TKAIs.</strong></p>
<p>TAIKAI vous accueille pour participer à des hackathons et des défis d'innovation ouverte, que ce
  soit en tant que participant ou évaluateur de projets.</p>
<p>Pour plus de détails sur nous, rendez-vous sur notre
  <a href='https://taikai.network'>site web</a>.</p>
<a href='{{referUrl}}' class='cta-button'>S'INSCRIRE</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<a href='{{referUrl}}'>{{referUrl}}</a>
<br />
{{{supportMsg}}}