<h1>Vous avez été invité(e) à rejoindre une équipe</h1>
<p>Bonjour !</p>
<p>Un rôle important vous attend ! Vous avez reçu une invitation à rejoindre l'équipe de
  <strong>{{projectName}}</strong>.</p>
<p>{{projectName}} est l'un des projets du <a href='{{gardenUrl}}'>TAIKAI Garden</a>.</p>
<p>En tant que membre du projet, vous pourrez mettre à jour la description du projet, gérer les
  membres de l'équipe et téléverser des fichiers pour votre projet.</p>
<p>Accédez à votre tableau de bord pour répondre à l'invitation.</p>
<a href='{{dashboardUrl}}' class='cta-button'>ACCÉDER AU TABLEAU DE BORD</a>
{{{expirationMsg}}}
<p><a href='{{dashboardUrl}}'>{{dashboardUrl}}</a></p>
{{{supportMsg}}}