<h1>Vous avez été invité à rejoindre une équipe</h1>
<p>Bonjour !</p>
<p>Nous avons un rôle important qui vous attend ! Vous avez reçu une invitation à rejoindre l'équipe
  <strong>{{projectName}}</strong>
  sur le défi
  <strong>{{challengeName}}</strong>.</p>
<p>En tant que membre du projet, vous pouvez mettre à jour la description du projet, gérer les
  membres de l'équipe et télécharger des pièces jointes pour votre projet.</p>
<p>Pour accepter l'invitation, veuillez cliquer sur le bouton ci-dessous. Vous serez automatiquement
  ajouté à l'équipe après vous être inscrit au hackathon
  <strong>{{challengeName}}</strong>.</p>
<a href='{{dashboardUrl}}' class='cta-button'>ACCEPTER L'INVITATION</a>
{{{expirationMsg}}}
<p><a href='{{dashboardUrl}}'>{{dashboardUrl}}</a></p>
{{{supportMsg}}}