<h1>Vous avez été invité à faire partie de {{organizationName}}</h1>
<p>Bonjour {{name}} !</p>
<p>Vous avez été invité à faire partie de
  {{organizationName}}
  sur TAIKAI. Un petit pas pour vous, un grand pas dans l'innovation de votre organisation. Vous
  pourrez désormais partager les défis de votre organisation avec notre communauté et modifier
  toutes les informations concernant votre organisation.</p>
<a href='{{inviteUrl}}' class='cta-button'>ACCEPTER L'INVITATION</a>
{{{expirationMsg}}}
<p><a href='{{inviteUrl}}'><u>{{{inviteUrl}}}</u></a></p>
{{{supportMsg}}}