<h1>Vous avez été invité à faire partie de {{organizationName}}</h1>
<p>Bonjour
  <strong>{{username}}</strong>, vous avez été invité à faire partie de
  {{organizationName}}
  sur
  <a href='https://taikai.network'>TAIKAI</a>.</p>
<p>Un petit pas pour vous, un grand pas dans l'innovation de votre organisation. Vous pourrez
  désormais partager les défis de votre organisation avec notre communauté et modifier toutes les
  informations concernant votre organisation.</p>
<p>Pour accepter l'invitation, veuillez cliquer sur le bouton ci-dessous.</p>
<a href='{{inviteUrl}}' class='cta-button'>S'INSCRIRE</a>
{{{expirationMsg}}}
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}