<h1>Vous avez été invité à être jury pour {{challengeName}}</h1>
<p>Bonjour, êtes-vous prêt à investir ? Vous avez été invité à choisir les meilleurs projets sur
  {{challengeName}}
  sur
  <a href='{{frontendUrl}}'>TAIKAI</a>
  !</p>
<p>Les backers ont beaucoup de pouvoir sur notre plateforme, car ce sont eux qui décident quels sont
  les projets les plus innovants. Nous vous offrons des jetons VKAI, il vous suffit de voter.</p>
<p>Pour accepter l'invitation, veuillez cliquer sur le bouton ci-dessous.</p>
<a href='{{inviteUrl}}' class='cta-button'>ACCEPTER L'INVITATION</a>
{{{expirationMsg}}}
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}