<h1>Vous avez été invité à participer à {{challengeName}}</h1>
<p>Bonjour !</p>
<p>Êtes-vous prêt à relever le défi et à participer à <strong>{{challengeName}}</strong> sur <a href="https://taikai.network"><strong>TAIKAI</strong></a> ? {{challengeName}} est un défi organisé par <strong>{{organizationName}}</strong>.</p>
<p>Vous pouvez désormais faire la différence en créant une solution pour ce défi et vous qualifier pour les prix.</p>
<p>Votre participation à l'événement sera entièrement gérée via notre plateforme. Vous pourrez également consulter les règles du défi à tout moment. Il est important que vous les acceptiez et les respectiez.</p>
<p>Une fois votre inscription terminée, vous pourrez créer votre propre projet et ajouter des membres à votre équipe.</p>
<p>En cliquant sur le lien ci-dessous, vous vous lancez dans un voyage incroyable... bonne chance !</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMER MAINTENANT</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}