<h1>Vous avez été invité(e) à être mentor sur le projet {{projectName}}</h1>
<p>Bonjour <strong>{{to}}!</strong></p>
<p>Êtes-vous prêt(e) à mentorer le projet {{projectName}} avec vos compétences de ninja?</p>
<p>{{projectName}} est l'un des projets du <a href='{{gardenUrl}}'>TAIKAI Garden</a>.</p>
<p>Les mentors ont un rôle très important dans le TAIKAI Garden! Vous aurez la possibilité de faire
  la différence en aidant les membres de l'équipe de ce projet.</p>
<p>Allez sur votre tableau de bord pour répondre à l'invitation.</p>
<a href='{{dashboardUrl}}' class='cta-button'>ALLER AU TABLEAU DE BORD</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<p><a href='{{dashboardUrl}}'>{{dashboardUrl}}</a></p>
{{{supportMsg}}}