<h1>Invitation à devenir mentor dans le projet {{projectName}}</h1>
<p>Bonjour! {{to}}</p>
<p>Êtes-vous prêt à devenir mentor de projet avec vos compétences ninja dans
  {{projectName}}?</p>
<p>{{projectName}} est l'un des projets du <a href='{{gardenUrl}}'>Jardin de LayerX</a>.</p>
<p>Les mentors jouent un rôle très important dans le Jardin! Vous aurez l'opportunité de faire une
  différence en aidant les membres de ce projet.</p>
<p>En cliquant sur le lien ci-dessous, vous vous embarquez dans un voyage incroyable... Bonne
  chance!</p>
<a href='{{inviteUrl}}' class='cta-button'>CONFIRMER</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur:</p>
<p><a href='{{inviteUrl}}'>{{inviteUrl}}</a></p>
{{{supportMsg}}}