<h1>Vous avez reçu un message</h1>
<p><strong>De :</strong> {{from}}</p>
<p><strong>Sujet :</strong> {{topic}}</p>
<p>{{message}}</p>
<a href="{{threadUrl}}" class='cta-button'>RÉPONDRE</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href="{{threadUrl}}">{{threadUrl}}</a>
{{{supportMsg}}}