<h1>Votre commande sur le Marketplace TAIKAI : {{productName}}</h1>
<p>Bonjour, {{username}} !</p>
<p>Merci pour votre commande. Vous pouvez consulter les détails de la commande ci-dessous :</p>
<p><strong>{{productName}}</strong></p>
<p>Prix : {{itemPrice}} TKAIs</p>
<p>Quantité : {{orderQuantity}}</p>
<p>{{#if itemSize}}Taille : {{itemSize}}{{/if}}</p>
<div style='font-family: inherit; text-align: right'><span style='font-weight: bold'>Total :
    {{orderTotal}}
    TKAIs</span></div>
{{{supportMsg}}}