<h1>{{organizationName}} est en cours de révision</h1>
<p>Bonjour <strong>{{submitter}}</strong> !</p>
<p>Vous avez soumis avec succès une nouvelle organisation à TAIKAI.
  <strong>{{organizationName}}</strong>
  sera examiné et publié dès que le contenu sera approprié pour notre communauté.</p>
<p>Une organisation est un acteur spécial au sein de notre communauté, car elle peut lancer des
  hackathons ou des défis d'innovation ouverts à notre réseau de participants. Rendez-vous sur votre
  <a href='{{link}}'>page de l'organisation</a>
  pour voir à quoi ressemble la page de l'organisation. Rappelez-vous, la page ne sera publique que
  lorsque l'organisation aura été acceptée par les modérateurs de TAIKAI.</p>
{{{supportMsg}}}