<h1>{{organizationName}} a été publiée</h1>
<p>Félicitations, <strong>{{submitter}} !</strong></p>
<p><strong>{{organizationName}}</strong> a été publiée.</p>
<p>Une organisation est un acteur particulier au sein de notre communauté, car elle peut lancer des
  hackathons ou des défis d'innovation ouverte à notre réseau de participants. Visitez votre page
  d'organisation pour voir à quoi elle ressemble.</p>
<p>Partagez votre page d'organisation au sein de votre organisation, avec vos partenaires et vos
  amis.</p>
<a href='{{link}}' class='cta-button'>PAGE DE L'ORGANISATION</a>
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<a href='{{link}}'>{{link}}</a>
{{{supportMsg}}}