<h1>{{organizationName}} est en cours de révision</h1>
<p>Bonjour <strong>{{submitter}}</strong> !</p>
<p>Votre nouvelle organisation, {{organizationName}}, a été soumise avec succès à TAIKAI. Elle sera examinée et publiée dès que le contenu sera jugé approprié pour notre communauté.</p>
<p>Une organisation est un acteur particulier au sein de notre communauté, car elle peut lancer des hackathons ou des défis d'innovation ouverte à notre réseau de participants. Visitez votre <a href="{{link}}">page d'organisation</a> pour voir à quoi elle ressemble. Rappelez-vous que la page ne sera publique que lorsque l'organisation sera acceptée par les modérateurs de TAIKAI.</p>
{{{supportMsg}}}