<h1>Félicitations ! Vous êtes inscrit en tant que jury invité !</h1>
<p>Vous êtes inscrit en tant que <strong>jury invité</strong> dans la catégorie de vote {{votingTrackName}} du hackathon :</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{challengeDescription}}</p>
<p>Pour avoir accès au challenge en tant que jury, vous devez utiliser le lien ci-dessous. Vous n'avez pas besoin de créer de compte, il vous suffit d'utiliser le lien contenu dans cet e-mail, car il contient un jeton secret à des fins de sécurité. Veuillez cliquer sur le bouton ci-dessous.</p>
<a href="{{challengeUrl}}" class='cta-button'>PAGE DU CHALLENGE</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}