<h1>Félicitations ! Vous êtes inscrit en tant que participant !</h1>
<p>Vous êtes inscrit en tant que <strong>participant</strong> dans {{challengeName}}.</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{shortDescription}}</p>
<p>Pour plus de détails, veuillez cliquer sur le bouton ci-dessous.</p>
<a href='{{challengeUrl}}' class='cta-button'>PAGE DU CHALLENGE</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<a href='{{challengeUrl}}'>{{challengeUrl}}</a>
{{{supportMsg}}}