<h1>Mot de passe perdu ?</h1>
<p>Bonjour {{username}} !</p>
<p>Avez-vous perdu votre mot de passe sur
  <a href='https://taikai.network'>taikai.network</a>
  ? Pour réinitialiser votre mot de passe, veuillez cliquer sur le bouton ci-dessous.</p>
<a href='{{base_url}}{{token}}' class='cta-button'>RÉCUPÉRER MON MOT DE PASSE</a>
<p>Si vous rencontrez des problèmes, copiez ce lien et collez-le dans votre navigateur :</p>
<a href='{{base_url}}{{token}}'>{{base_url}}{{token}}</a>
<br />
{{{supportMsg}}}