<h1>L'utilisateur a dépassé le nombre maximum de tentatives 2FA</h1>
<p>Après de nombreuses tentatives échouées pour vérifier le code 2FA, l'utilisateur
  <strong>{{username}}</strong>
  a été temporairement verrouillé (<strong>{{tmpLockoutMin}} min</strong>) pour prévenir une attaque
  par force brute.</p>
<a href='{{userOverviewLink}}' class='cta-button'>Détails de l'utilisateur</a>
<br />
<p>Si vous rencontrez des problèmes, copiez cette URL et collez-la dans votre navigateur :</p>
<p><a href='{{userOverviewLink}}'>{{userOverviewLink}}</a></p>