<h1>Merci de vous être inscrit !</h1>
<p>Bonjour {{username}},</p>
<p>Bienvenue dans votre aventure sur TAIKAI ! Pour commencer, veuillez cliquer ci-dessous pour
  activer votre compte. Ensuite, vous pourrez compléter votre profil sur votre Page de Profil.</p>
<a href='{{confirmationLink}}' class='cta-button'>REJOIGNEZ ICI</a>
<br />
{{{expirationMsg}}}
<p>
  <a href='{{confirmationLink}}'>{{{confirmationLink}}}</a>
</p>
{{{supportMsg}}}